<nav class="navbar navbar-dark bg-dark" [ngClass]="{ 'expand-nav': openToggle }">
    <a class="navbar-brand openbtn" (click)="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <a class="mr-auto" href="#" >
      <img src="assets/images/eagle-logo.png" class="nav-logo" alt="">
    </a>
    <span class="m-auto text-danger order-1 order-lg-0">Kindly Activate SMS package to communicate. Please contact your service provider for more information</span>
    <span class="ml-auto text-white  order-2 order-lg-0">SMS Remaining Count : 0</span>
    <a class="ml-auto text-white sign-out order-0"><i class="fa fa-sign-out" aria-hidden="true"></i>
       <span [ngClass]="{ 'd-none': isMobileDevice() }"> Signout</span></a>
</nav>
