<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand openbtn" onclick="openNav()">☰</a>
    <a class="mr-auto" href="#" >
      <img src="assets/images/eagle-logo.png" class="nav-logo" alt="">
    </a>
    <span class="m-auto text-danger order-1 order-lg-0">Kindly Activate SMS package to communicate. Please contact your service provider for more information</span>
    <span class="ml-auto text-white  order-2 order-lg-0">SMS Remaining Count : 0</span>
    <a class="ml-auto text-white sign-out order-0"><i class="fa fa-sign-out" aria-hidden="true"></i>
       Signout</a>
</nav>
