.expand-nav {
   transition: margin-left .5s;
   margin-left: 250px!important;
}

.openbtn {
    cursor: pointer;
    font-size: 30px!important;
  }

  .sign-out {
    cursor: pointer;
  }

  .nav-logo {
    width: 165px;
    height: 80px;
  }