.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .expand-content {
    transition: margin-left .5s;
    margin-left: 250px!important;
 }

  @media only screen and (max-width: 570px) {

    .footer {
      position: relative!important;
    }

  }