    <h2 class="accent-color">Summary <span class="small-font">17 Member(s)</span> </h2>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-striped table-responsive-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">Total</th>
              <th scope="col">Male</th>
              <th scope="col">Female</th>
              <th scope="col">Transgender</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <th scope="row">NewG</th>
              <td>1</td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <th scope="row">Other(s)</th>
              <td>12</td>
              <td>11</td>
              <td>1</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <div class="alert alert-secondary" role="alert">
          <h5 class="accent-color font-weight-bold">SMS Balance</h5>
          <p>Remaining count: 0</p>
        </div>
      </div>
    </div>

    <hr>

    <h5 class="text-center">Date: 30-March-2021</h5>

    <div class="row">
      <div class="col-md-12 mt-2">
        <table class="table table-striped table-responsive-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Relationship Type</th>
              <th scope="col">No. of Students</th>
              <th scope="col">No. of Absentees</th>
              <th scope="col">No. of Present</th>
              <th scope="col">No. of Leave</th>
              <th scope="col">No. of Permission</th>
              <th scope="col">No. of Male</th>
              <th scope="col">No. of Female</th>
              <th scope="col">No. of Transgender</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <th scope="row">NewG</th>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <th scope="row">Other(s)</th>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>